<form #cloneForm="ngForm" class="clone-namespace-form" fxLayout="column" (onsubmit)="clone()" (change)="formChanged()">
    <h1 mat-dialog-title>Clone namespace {{ namespace.metadata.name }}</h1>
    <div mat-dialog-content fxLayout="column" >
        <div fxFlex fxLayout="row" style="margin-top:16px;" fxLayoutGap="16px">
            <mat-form-field >
                <mat-label>Source Cluster</mat-label>
                <mat-select 
                    name="sourceClusterFormatName"  
                    [(ngModel)]="cloneData.sourceClusterFormatName" 
                    required
                    >
                    <mat-option 
                        *ngFor="let cluster of clusterService.clusters$ | async;let i=index; last as isLast" 
                        [value]="cluster.formatName"
                    >
                    {{cluster.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Target Cluster</mat-label>
                <mat-select 
                    name="targetClusterFormatName"
                    [(ngModel)]="cloneData.targetClusterFormatName" 
                    (selectionChange)="formChanged()"
                    required
                    >
                    <mat-option 
                        *ngFor="let cluster of clusterService.clusters$ | async" 
                        [value]="cluster.formatName">{{ cluster.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
            <mat-checkbox name="changeName" style="height:34px;" [(ngModel)]="changeName" *ngIf="cloneData.sourceClusterFormatName != cloneData.targetClusterFormatName">
                <span *ngIf="!changeName">Change name</span>
            </mat-checkbox>
            <mat-form-field *ngIf="changeName" fxFlex="fill">
                <mat-label>New namespace name</mat-label>
                <input name="name" [(ngModel)]="cloneData.newName" #newName="ngModel" required appForbiddenFormat matInput>
                <mat-error *ngIf="newName.errors">
                    <span *ngIf="newName.errors.forbiddenFormat">Must be lowercase and no spaces.</span>
                    <span *ngIf="newName.errors.required">Can't be empty.</span>
                </mat-error>
            </mat-form-field>
        </div>  
        <mat-error *ngIf="validationMessage">
            {{ validationMessage }}
        </mat-error>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button color="accent" mat-raised-button (click)="clone()" [disabled]="!cloneForm.form.valid">Clone</button>
        <button color="" mat-raised-button (click)="dialogRef.close()">Cancel</button>
    </div>
</form>