<form class="create-namespace-form" fxLayout="column" (onsubmit)="create()">
<h1 mat-dialog-title>Create namespace</h1>
<div mat-dialog-content>
        <mat-form-field fxFlex="100">
            <mat-label>Name</mat-label>
            <input name="name" [(ngModel)]="newNamespace" matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button color="accent" mat-raised-button (click)="create()">Create</button>
        <button color="" mat-raised-button (click)="dialogRef.close()">Cancel</button>
    </div>
</form>