<div class="secretsHolder">
    <div class="noSecrets" *ngIf="!secrets || secrets.length == 0">
        No Secrets yet.
    </div>
    <mat-list class="secrets" fxLayout="column">
        <div *ngFor="let secret of secrets;" class="secret" >
            <mat-list-item>
                <div class="secretRow" fxLayoutAlign="space-between center" fxFlex="100">
                    <div style="min-width: 200px;" (click)="viewSecret(secret)">{{ secret.metadata.name }}</div>
                    <span></span>
                    <div>{{ secret.type }}</div>
                    <div>
                        <button 
                            color="primary" 
                            (click)="deleteSecret(secret)"
                            mat-icon-button aria-label="Delete the secret" 
                            >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </div>
    </mat-list>
</div>