<div class="page">
    <div class="pageContent">
      <table mat-table [dataSource]="clusters" fxFlex="100">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td style="cursor:pointer;" mat-cell *matCellDef="let cluster" [routerLink]="['/admin/clusters', cluster.formatName]"> 
            {{cluster.name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="formatname">
            <th mat-header-cell *matHeaderCellDef> Formatname </th>
            <td mat-cell *matCellDef="let cluster"> {{cluster.formatName}} </td>
        </ng-container>
        <ng-container matColumnDef="project.name">
          <th mat-header-cell *matHeaderCellDef> Project </th>
          <td mat-cell *matCellDef="let cluster"> {{cluster.project.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let cluster">
              <a 
                [routerLink]="['/admin/clusters', cluster.formatName]"
                matTooltip="Edit Cluster" 
                [matTooltipPosition]="'above'"
                [matTooltipShowDelay]="400"
                style="margin-right:16px;"
              >
                <mat-icon style="cursor:pointer;">edit</mat-icon>
              </a>
              <mat-icon 
                (click)="deleteCluster(cluster)"
                matTooltip="Delete Cluster" 
                [matTooltipPosition]="'above'"
                [matTooltipShowDelay]="400"
                style="cursor:pointer;" 
                >delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
</div>


