@import "../variables.scss";

.sidenavHeader {
  width: 200px;
  overflow:hidden;
  border: 0;
  border-color:#333;
  background: #333;
  color: #FFF;

  .mat-toolbar {
    background: inherit;
  }
}

.sidenavContainer {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main{
  display: flex;
  height: 100vh;  
  flex: 1 1 auto;
  place-content: stretch flex-start;
  align-items: stretch;

  .readable{
    max-width:700px;
  }

  .page{
    .pageContent{
      margin:16px;
    }
  }

}

.container {
  min-height: 100%;
  width: 100%;
}

.somethingIsMissing{
  padding:50px;
  text-align:center;
  font-size:30px;
  color: $sadColor;
}


[hidden] {
  display: none !important;
}