@import "../variables.scss";

.sidenavHeader {
  width: 200px;
  overflow:hidden;
  border: 0;
  border-color:#333;
  background: #333;
  color: #FFF;

  .mat-toolbar {
    background: inherit;
  }
}

.sidenavContainer {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-dialog-container{
  padding:0px !important;
  .mat-dialog-title{
    background-color: #5468bf !important;
    color:white !important;
    padding:16px !important;
    text-align:center;
  }
  .mat-dialog-content{
    margin:0px 16px !important;
    padding: 0px !important;
  }
  .mat-dialog-actions{
    padding-top:16px !important;

    margin: 0px 16px !important;
  }
}

.mat-expanded{
  .mat-expansion-indicator{
    margin-top:5px !important;
  }
  
}

.mat-expansion-indicator{
  margin-top:-4px;
}

main{
  display: flex;
  height: 100vh;  
  flex: 1 1 auto;
  place-content: stretch flex-start;
  align-items: stretch;

  .readable{
    max-width:700px;
  }

  .page{
    .pageContent{
      margin:16px;
    }
  }

}

.container {
  min-height: 100%;
  width: 100%;
}

.somethingIsMissing{
  padding:50px;
  text-align:center;
  font-size:30px;
  color: $sadColor;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}


[hidden] {
  display: none !important;
}