@import "../../../../../variables.scss";

.secretsHolder{

    .noSecrets{
        padding:50px;
        text-align:center;
        font-size:30px;
        color: $sadColor;
    }
    .secret{
        cursor:pointer;
    }
}
