<div class="page" fxFlex="100" fxLayout="column">
    <div class="pageContent">
        <mat-card class="readable">
            <mat-card-content>
                Project is divided into three sections in liftcrane:
                <br />
                <br />
                * Clusters - The clusters you manage and the nodes available
                <br />
                * Namespaces - All namespaces active in a cluster
                <br /> 
                * Deployments - An overview of active deployments in the namespace
            </mat-card-content> 
        </mat-card>
    </div>
</div>
    
    
    