<div class="page" fxFlex="100" fxLayout="column">
    <mat-toolbar color="accent">
        <mat-toolbar-row fxLayoutAlign="space-between center">

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar *ngIf="showProgressbar" mode="indeterminate"></mat-progress-bar>
    <div class="pageContent">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel 
                class=""
                *ngFor="let log of logs;let i=index; last as isLast; trackBy: trackByFn;" 
            >
            <mat-expansion-panel-header (click)="showExtraDetails[log.id] = !showExtraDetails[log.id]">
                <mat-panel-title fxLayoutAlign="space-between center">
                    <div class="logMessage">{{log.message}}</div>
                    <div class="logDate">{{ log.created | date:'yyyy-MM-dd HH:MM' }}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="extraDetails" fxLayout="column" fxLayoutGap="16px">
                {{ log.logType }}
                <pre *ngIf="log.metadata">{{ log.metadata | json }}</pre>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>
  
  