<div class="page">
    <div class="pageContent" *ngIf="cluster">
      <form class="update-cluster-form" fxLayout="column">
        <mat-form-field fxFlex="100">
            <mat-label>Name</mat-label>
            <input name="name" [(ngModel)]="cluster.name" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>ApiServer</mat-label>
            <input name="apiserver" [(ngModel)]="cluster.apiServer" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-label>Platform</mat-label>
          <mat-select [(ngModel)]="cluster.platform" name="platform">
            <mat-option *ngFor="let platform of platforms" [value]="platform.value">{{platform.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-label>Token</mat-label>
          <textarea name="token" [(ngModel)]="cluster.token" matInput></textarea>
        </mat-form-field>
        <div fxFlex="100" fxLayoutAlign="end" fxLayoutGap="8px">
          <button color="accent" name="save" (click)="save()" mat-raised-button>Save</button>
          <button color="" name="reset" (click)="reset()" mat-raised-button>Reset</button>
          <button color="error" name="reset" (click)="delete()" mat-raised-button>Delete</button>
        </div>

    </form>
            
    </div>
</div>
