
<div class="page" fxFlex="100" fxLayout="column">
    <div class="pageContent">
        <mat-card class="readable">
            <mat-card-content>
                Grafana is a powerful metrics tool used by liftcrane.
                <br/>
                <br/>
                <br/>
                <a color="accent" mat-raised-button href="https://cl-grafana.volvocars.net/d/4jUMbPRGz/home?orgId=1">Get him to the Grafana Dashboard</a>
            </mat-card-content> 
        </mat-card>
    </div>
</div>
    
    
    