<div class="page" fxFlex="100" fxLayout="column">
  <mat-toolbar color="accent">
    <mat-toolbar-row fxLayoutAlign="end center" fxLayoutGap="8px">
      <span></span>
      <button 
        *ngIf="pageService.guard(['admin']) | async" 
        mat-raised-button (click)="addExistingClusterDialog()">+ Existing Cluster</button>
      <button 
        *ngIf="pageService.guard(['admin']) | async" 
        mat-raised-button (click)="createClusterDialog()">+ New Cluster</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showProgressbar" mode="indeterminate"></mat-progress-bar>
  <div class="pageContent">
    <div class="noClusters" *ngIf="!clustersAreBeingFetched && (!clusterService.clusters || clusterService.clusters.length == 0)">
      No clusters yet.
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel 
        class="clusterRow"
        *ngFor="let cluster of clusterService.clusters;let i=index; last as isLast;" 
        >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <cluster-row [cluster]="cluster" fxFlex="100" ></cluster-row>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="extraDetails" fxLayout="column">
          <div *ngIf="cluster.apiServer" fxLayout="column">
            <h3>API</h3>
            <div fxFlex="50" class="url"><a href="{{cluster.apiServer}}">{{cluster.apiServer}}</a></div>
          </div>
          <div *ngIf="cluster.dashboardUrl && cluster.platform == 'KUBERNETES'" fxLayout="column">
            <h3>Kubernetes Dashboard URL</h3>
            <div fxFlex="50" class="url"><a href="{{cluster.dashboardUrl}}">{{cluster.dashboardUrl}}</a></div>
          </div>
          <div *ngIf="cluster.personalToken" fxLayout="column">
            <div fxLayout="row">
              <h3>Personal token for access to cluster and dashboard</h3>
              <button class="displayEye" mat-icon-button color="accent" aria-label="Show JWT" (click)="cluster.displayJWT = !cluster.displayJWT">
                <i class=" fas fa-eye"></i>
              </button>
            </div>
            <div fxFlex="50" class="jwt" >
              <code *ngIf="cluster.displayJWT">{{cluster.personalToken}}</code>
              <code *ngIf="!cluster.displayJWT">Click <strong (click)="cluster.displayJWT = !cluster.displayJWT" style="cursor:pointer;">here</strong> to reveal the JWT.</code>
            </div>
          </div>
          <h3>Platform</h3>
          <div fxFlex="50"><code>{{cluster.platform}}</code></div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
              <span></span>
              <button 
                  color="error" 
                  (click)="deleteCluster(cluster)"
                  mat-raised-button aria-label="Delete the cluster" 
                  >
                  DELETE
                  <mat-icon>delete</mat-icon>
              </button>
              <button 
                  *ngIf="cluster.vendor == 'AZURE'"
                  color="error" 
                  (click)="deleteClusterInAzure(cluster)"
                  mat-raised-button aria-label="Delete the cluster both reference and Azure" 
                  >
                  DELETE IN AZURE
                  <mat-icon>delete</mat-icon>
              </button>
              <button 
                  (click)="refreshCluster(cluster)"
                  mat-raised-button aria-label="Refresh the cluster" 
                  >
                  REFRESH
                  <mat-icon>sync</mat-icon>
              </button>
          </div>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

